<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="../static/css/bgimg.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<body>
<div class="bgimg"><font color="white">
  <div><font color="white">
    DANIEL WU <br> BRIANNA LOOMIS <br> SAMUEL LI
  </font></div>
  <div><center>
      <h1>MELANOMA DETECTION</h1>
    <hr style="margin:auto;width:40%">
      <p>LOGIN</p>
    <form action="" method=POST>
  		USER_ID:<br>
        <font color="black"><input type=text name=user_id><br></font>
 		PASSWORD:<br>
        <font color="black"><input type=password name=password></font><br><br><font color="black">
    <input type="submit" value="SUBMIT"></font><br><br>
        <div class="container">
            <div class="alert alert-danger collapse alert-dismissable" id="loginfail">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Error!</strong> Incorrect user_id or password.
            </div>
        </div>
	</form>
  </center></div>
    </font>
</div>
</body>
</html>
