<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="../static/css/bgimg.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<body>
<div class="bgimg"><font color="white">
  <div><font color="white">
    DANIEL WU <br> BRIANNA LOOMIS <br> SAMUEL LI
  </font></div>
  <div><center>
      <h1>MELANOMA DETECTION</h1>
    <hr style="margin:auto;width:40%">
      <p>LOGIN</p>
      {% with messages = get_flashed_messages() %}
         {% if messages %}
            <ul>
               {% for message in messages %}
               <li>{{ message }}</li>
               {% endfor %}
            </ul>
         {% endif %}
      {% endwith %}
    <form action="" method=POST>
  		USER_ID:<br>
        <font color="black"><input type=text name=user_id><br></font>
 		PASSWORD:<br>
        <font color="black"><input type=password name=password></font><br><br><font color="black">
    <input type="submit" value="SUBMIT"><br><br></font>
	</form>
      <form action="/register_user" method=GET>
          <font color="black"><input type="submit" value="NEW USER"></input></font>
      </form>
  </center></div>
    </font>
</div>
</body>
</html>
