<!DOCTYPE html>
<html>
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
    background-image: url('https://i.ytimg.com/vi/5QGQzGQMd5E/maxresdefault.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}
</style>
<body>

<div class="bgimg">
  <div><font color="white">
    DANIEL WU <br> BRIANNA LOOMIS <br> SAMUEL LI
  </div>
  <div><center>
    <h1><font color="black">MELANOMA DETECTION</h1>
    <hr style="margin:auto;width:40%">
    <p><font color="white">LOGIN</p>
    <form action="/action_page.php method="post""><center>
  		USERNAME:<br>
  	<input name="username"><br>
 		PASSWORD:<br>
  	<input name="password"><br><br>
    <input type="submit" value="SUBMIT">
	</form> 
  </div>
</div>

</body>
</html>