<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="../static/css/bgimg.css">
<link rel="stylesheet" type="text/css" href="../static/css/homepage_sidemenu.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<body>

  <div class="bgimg"><font color="white">
    <div><center>
        <h1 align="center">PATIENTS</h1>
        <hr style="margin:auto;width:40%">
        <p align="center">INFORMATION</p>
        </center>
    </div>
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="/home">HOME</a>
      <a href="/image">UPLOAD</a>
      <a href="/image_data">IMAGES</a>
      <a href="/patients">PATIENTS</a>
          <a href="/logout">LOGOUT</a>
    </div>
<div>
  <span style="font-size:30px;cursor:pointer" onclick="openNav()"><font color="white">&#9776;</font></span>

    <div class="w3-content w3-display-container"><font color="white"><center>
        PATIENT NAME: {{patient.name}} <br>
        PATIENT ID: {{patient.user_id}} <br>
        CLASSIFICATION: {{patient.classification}}<br>
	PATIENT PHOTO: <br>
        <img src="../static/{{ patient.image_content }}" width="100%">
    </center>
    </font>
    </div>
<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft= "0";
}
</script>
</body>
</html>
