<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="../static/css/bgimg.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<body>

<div class="bgimg">
  <div><center>
      <h1 align="center"><font color="white">UPLOAD PHOTOS</font></h1>
    <hr style="margin:auto;width:40%">
      <p align="center"><font color="white">FILL OUT BELOW</font></p>
<form method=POST enctype=multipart/form-data action="{{ url_for('upload') }}">
    FIRST NAME:
    <input type=text name=firstname><br><br>
    LAST NAME :
    <input type=text name=lastname><br><br>
    DATE TAKEN:
    <input type=date name=date><br><br>
    <input type=file name=photo><br><br>
    <input type="submit" value="SUBMIT">
</form>
  </center></div></div></body>
</html>